nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item {
    padding: 0.5rem;
}

#memo {
    margin: 2rem;
    padding: 1rem;
    border: 0.1rem dashed brown;
    font-size: 1.2rem;
}

#memo h4 {
    margin: 0.5rem 0rem;
}

.input-group {
    /* margin-left: 1rem; */
    display: inline;
}

#memo button {
    margin: 1rem;
}

@media (max-width: 1200px) {
    .input-group {
        margin-top: 1rem;
        display: block;
    }
}