header {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-form {
    width: 50vw;
    margin: 5rem auto;
}

#login-form input {
    margin: 1rem 0rem;
}